<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img-login">
        <h1>Registrar</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Ingrese Nombre">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Apellido Paterno">
            <label>  </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Apellido Materno">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Curp">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Genero">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Estado Civil">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Estado">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Municipio">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Colonia">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Direccion">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Telefono">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Email">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Fecha Nacimiento">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Matricula">
            <label> </label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Contraseña">
            <label> </label>
        </div>




        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/login"> Regresar  </button>
        </div>
    </div>
</div>